@model IEnumerable<Team2_Project_WEB.Models.DefVO>

@using Team2_Project_WEB.Models
@using Team2_Project_WEB.Html

@{
    ViewBag.Title = "불량 이력 조회";
    Layout = "~/Views/_LayoutPage.cshtml";
}

@section css{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/js/tempusdominus-bootstrap-4.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/css/tempusdominus-bootstrap-4.min.css" crossorigin="anonymous" />
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
}

<section class="content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <form action="/Home/Defect" method="get">
                        <div class="row" style="margin-bottom: 0px">
                            <div class="col-sm-3 row">
                                <div class="col-sm-3" style="padding-top: 6px; text-align: center"><label>조회기간</label></div>
                                <div class="input-group col-sm-9">
                                    <input type="text" class="form-control float-right" id="dateRangeSelect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="hidden" name="fromDate" id="fDate" value="@ViewBag.FromDate" />
                                    <input type="hidden" name="toDate" id="tDate" value="@ViewBag.ToDate" />
                                </div>
                            </div>
                            <div class="col-sm-3 row">
                                <div class="col-sm-3" style="padding-top:6px;text-align:center"><label>작업장</label></div>
                                <div class=" col-sm-9">
                                    @Html.DropDownList("wcCode", (IEnumerable<SelectListItem>)ViewBag.wcList, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-3 row">
                                <div class="col-sm-3" style="padding-top:6px;text-align:center"><label>품목</label></div>
                                <div class=" col-sm-9">
                                    @Html.DropDownList("itemCode", (IEnumerable<SelectListItem>)ViewBag.Items, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <input type="submit" class="btn btn-block bg-gradient-success" value="조회">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card-header -->
                <!-- 목록 -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr style="text-align:center">
                                <th>발생일시</th>
                                <th>작업지시번호</th>
                                <th>작업장명</th>
                                <th>품목명</th>
                                <th>불량현상 대분류명</th>
                                <th>불량현상 상세분류명</th>
                                <th>불량수량</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="text-align:center">
                                    <td>@item.Def_Date</td>
                                    <td>@item.WorkOrderNo</td>
                                    <td>@item.Wc_Name</td>
                                    <td>@item.Item_Name</td>
                                    <td>@item.Def_Ma_Name</td>
                                    <td>@item.Def_Mi_Name</td>
                                    <td>@item.Def_Qty</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- 페이지 nav -->
            <nav aria-label="Page navigation example">
                <ul class="pagination d-flex justify-content-center">
                    @Html.PageLinks((PagingInfo)ViewBag.Page, (p) => Url.Action("Defect", new { fromDate = ViewBag.FromDate, toDate = ViewBag.ToDate, wcCode = ViewBag.WcCode, itemCode = ViewBag.ItemCode, page = p }))
                </ul>
            </nav>
            <!-- /페이지 nav -->
            <!-- /.card -->
        </div>
    </div>
</section>

@{
    string from = ViewBag.FromDate;
    string to = ViewBag.ToDate;
}

@section Scripts{
    <!-- InputMask -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/moment/moment-with-locales.min.js"></script>
    <script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <!-- date-range-picker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>

    <script>
        $('#dateRangeSelect').daterangepicker({
            locale: {
                format: 'YYYY-MM-DD',
                applyLabel: '입력',
                cancelLabel: '취소',
                locale: moment.locale('ko')
            },
            startDate: '@from',
            endDate: '@to',
            showDropdowns: true,
            showWeekNumbers: true
        });

        $('#dateRangeSelect').on('apply.daterangepicker', function (ev, picker) {
            document.getElementById("fDate").value = picker.startDate.format('YYYY-MM-DD');
            document.getElementById("tDate").value = picker.endDate.format('YYYY-MM-DD');
        });
    </script>
}