@model IEnumerable<Team2_Project_WEB.Models.ItemVO>

@using Team2_Project_WEB.Models

@{
    ViewBag.Title = "  품목별 수주현황 조회";
    Layout = "~/Views/_LayoutPage.cshtml";
}

@section css{
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/js/tempusdominus-bootstrap-4.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/css/tempusdominus-bootstrap-4.min.css" crossorigin="anonymous" />
}

<section class="content">
    <div class="container-fluid row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <form action="/Home/Item" method="get">
                        <div class="row" style="margin-bottom: 0px">
                            <div class="col-sm-8 row">
                                <div class="col-sm-2" style="padding-top: 6px; text-align: center"><label>조회기간</label></div>
                                <div class="input-group col-sm-6">
                                    <input type="text" class="form-control float-right" id="dateRangeSelect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="hidden" name="from" id="startDate" />
                                    <input type="hidden" name="to" id="endDate" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <input type="submit" class="btn btn-block bg-gradient-success" value="조회">
                            </div>
                        </div>
                    </form>
                    <!--/.input group -->
                </div>
                <!-- /.card-header -->
                <!-- 목록 -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr style="text-align:center">
                                <th>품목명</th>
                                <th>품목코드</th>
                                <th>@ViewBag.ColText 수주량</th>
                                <th>@ViewBag.ColText 수주고객수</th>
                                <th>수주비율</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="text-align:center">
                                    <td>@item.Name</td>
                                    <td>@item.Code</td>
                                    <td>@item.OrderSum</td>
                                    <td>@item.CustomerSum</td>
                                    <td>@(item.Ratio.ToString("P"))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /목록 -->
        <div class="col-sm-4">
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">수주 비율 차트</h3>
                </div>
                <div class="card-body">
                    <canvas id="donutChart1" style="min-height: 275px; height: 275px; max-height: 275px; max-width: 100%; "></canvas>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">고객 비율 차트</h3>
                </div>
                <div class="card-body">
                    <canvas id="donutChart2" style="min-height: 275px; height: 275px; max-height: 275px; max-width: 100%; "></canvas>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

@{
    string name = ViewData["Name"].ToString();
    string orderSum = ViewData["OrderSum"].ToString();
    string customerSum = ViewData["CustomerSum"].ToString();
    string from = ViewBag.FromDate;
    string to = ViewBag.ToDate;
}

@section Scripts{
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- InputMask -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/moment/moment-with-locales.min.js"></script>
    <script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />

    <script>
        //Date range picker
        $('#dateRangeSelect').daterangepicker({
            locale: {
                format: 'YYYY-MM-DD',
                applyLabel: '입력',
                cancelLabel: '취소',
                locale: moment.locale('ko')
            },
            startDate: '@from',
            endDate: '@to',
            showDropdowns: true,
            showWeekNumbers: true
        });

        $('#dateRangeSelect').on('apply.daterangepicker', function (ev, picker) {
            document.getElementById("startDate").value = picker.startDate.format('YYYY-MM-DD');
            document.getElementById("endDate").value = picker.endDate.format('YYYY-MM-DD');
        })

        
        //-------------
        //- DONUT CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.

        var donutChartCanvas1 = $('#donutChart1').get(0).getContext('2d')
        var donutChartCanvas2 = $('#donutChart2').get(0).getContext('2d')

        var names = "@name"
        var namearr = names.split(',')

        var donutData1 = { 
            labels: namearr,
            datasets: [
                {
                    data:@orderSum,
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                }
            ]
        }
        var donutData2 = {
            labels: namearr,
            datasets: [
                {
                    data: @customerSum,
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                }
            ]
        }
        var donutOptions = {
            maintainAspectRatio: false,
            responsive: true
        };

        new Chart(donutChartCanvas1, {
            type: 'doughnut',
            data: donutData1,
            options: donutOptions
        })

        new Chart(donutChartCanvas2, {
            type: 'doughnut',
            data: donutData2,
            options: donutOptions
        })
    </script>
}
