@model IEnumerable<Team2_Project_WEB.Models.ProductionVO>

@using Team2_Project_WEB.Models
@using Team2_Project_WEB.Html

@{
    ViewBag.Title = "  작업지시 실적 조회";
    Layout = "~/Views/_LayoutPage.cshtml";
}

@section css{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/js/tempusdominus-bootstrap-4.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/css/tempusdominus-bootstrap-4.min.css" crossorigin="anonymous" />
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
}

<section class="content">
    <div class="container-fluid">
        <!-- Progerss Bar -->
        <div class="col-sm-12">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">@ViewBag.DateStr 목표달성률</h3>
                </div>
                <div class="card-body row">
                    <div class="col-sm-2"><h3 style="font-weight:normal;text-align:center">@ViewBag.DateProgress.ToString("P")</h3></div>
                    <div class="col-sm-10">
                        <div class="progress" style="height: 2.5rem">
                            <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" aria-valuenow="@(ViewBag.DateProgress*100)" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.DateProgress.ToString("P")">
                                <span class="sr-only">@ViewBag.DateProgress.ToString("P") Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Progerss Bar -->
        <div class="col-sm-12 card">
            <div class="card-header">
                <form action="/Home/ProdO" method="get">
                    <div class="row" style="margin-bottom: 0px">
                        <div class="col-sm-1" style="padding-top:6px;text-align:center"><label>작업일자</label></div>
                        <div class="input-group date col-sm-3" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" id="datetimepicker" data-toggle="datetimepicker" data-target="#datetimepicker" placeholder="날짜 선택" name="date" value=@ViewBag.Date />
                            <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <div class="col-sm-1" style="padding-top:6px;text-align:center"><label>품목</label></div>
                        <div class="col-sm-3">
                            @Html.DropDownList("itemCode", (IEnumerable<SelectListItem>)ViewBag.Items, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-block bg-gradient-success" value="조회">
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card-header -->
            <!-- 목록 -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr style="text-align:center">
                            <th>작업지시번호</th>
                            <th>작업일자</th>
                            <th>품목코드</th>
                            <th>품목명</th>
                            <th>계획수량</th>
                            <th>작업수량</th>
                            <th>작업진행률</th>
                            <th>양품수량</th>
                            <th>불량수량</th>
                            <th>양품률</th>
                            <th>불량률</th>
                            <th>작업시작시각</th>
                            <th>작업종료시각</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string startDate = item.Prd_StartTime.ToString(@"HH\:mm\:ss");
                            string EndDate = item.Prd_EndTime.ToString(@"HH\:mm\:ss");
                            decimal progress = item.Progress;
                            if (item.Prd_StartTime == default(DateTime)) { startDate = ""; }
                            if (item.Prd_EndTime == default(DateTime)) { EndDate = ""; }
                            if (item.Progress > 1.00m) { progress = 1.00m; }
                        <tr style="text-align:center">
                            <td>@item.WorkOrderNo</td>
                            <td>@item.Plan_Date</td>
                            <td>@item.Item_Code</td>
                            <td>@item.Item_Name</td>
                            <td>@item.Plan_Qty_Box</td>
                            <td>@item.Total</td>
                            <td>@progress.ToString("P")</td>
                            <td>@item.Prd_Qty</td>
                            <td>@item.TotDef</td>
                            <td>@item.FairRatio.ToString("P")</td>
                            <td>@item.DefRatio.ToString("P")</td>
                            <td>@startDate</td>
                            <td>@EndDate</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->

        </div>
        <!-- 페이지 nav -->
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center">
                @Html.PageLinks((PagingInfo)ViewBag.Page, (p) => Url.Action("ProdO", new { date = ViewBag.Date, itemCode = ViewBag.ItemCode, page = p }))
            </ul>
        </nav>
        <!-- /페이지 nav -->
    </div>
</section>

@section Scripts{
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- InputMask -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/moment/moment-with-locales.min.js"></script>
    <script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2({
                placeholder: "품목 선택",
                allowClear: true
            })

            // datetimepicker
            $('#datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: 'ko'
            });
        });
    </script>
}