@model IEnumerable<Team2_Project_WEB.Models.ProductionVO>

@using Team2_Project_WEB.Models
@using Team2_Project_WEB.Html

@{
    ViewBag.Title = "  작업지시 종합실적 조회";
    Layout = "~/Views/_LayoutPage.cshtml";
}

@section css{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/js/tempusdominus-bootstrap-4.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/css/tempusdominus-bootstrap-4.min.css" crossorigin="anonymous" />
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
}

<section class="content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <form action="/Home/TotProd" method="get">
                        <div class="row" style="margin-bottom: 0px">
                            <div class="col-sm-3 row">
                                <div class="col-sm-3" style="padding-top: 6px; text-align: center"><label>조회기간</label></div>
                                <div class="input-group col-sm-9">
                                    <input type="text" class="form-control float-right" id="dateRangeSelect">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="hidden" name="fromDate" id="fDate" value="@ViewBag.FromDate" />
                                    <input type="hidden" name="toDate" id="tDate" value="@ViewBag.ToDate" />
                                </div>
                            </div>
                            <div class="col-sm-3 row">
                                <div class="col-sm-3" style="padding-top:6px;text-align:center"><label>작업장</label></div>
                                <div class=" col-sm-9">
                                    @Html.DropDownList("wcCode", (IEnumerable<SelectListItem>)ViewBag.wcList, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-3 row">
                                <div class="col-sm-3" style="padding-top:6px;text-align:center"><label>품목</label></div>
                                <div class=" col-sm-9">
                                    @Html.DropDownList("itemCode", (IEnumerable<SelectListItem>)ViewBag.Items, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <input type="submit" class="btn btn-block bg-gradient-success" value="조회">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card-header -->
                <!-- 목록 -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr style="text-align:center">
                                <th>작업일자</th>
                                <th>작업수량</th>
                                <th>양품수량</th>
                                <th>불량수량</th>
                                <th>양품률</th>
                                <th>불량률</th>
                                <th>작업시작일시</th>
                                <th>작업종료일시</th>
                                <th>작업시간</th>
                                <th>시간당 생산량</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                string startDate = item.Prd_StartTime.ToString(@"HH\:mm\:ss");
                                string EndDate = item.Prd_EndTime.ToString(@"HH\:mm\:ss");
                                if (item.Prd_StartTime == default(DateTime)) { startDate = ""; }
                                if (item.Prd_EndTime == default(DateTime)) { EndDate = ""; }
                                <tr style="text-align:center">
                                    <td>@item.Dates</td>
                                    <td>@item.Total</td>
                                    <td>@item.Prd_Qty</td>
                                    <td>@item.TotDef</td>
                                    <td>@(item.FairRatio.ToString("P"))</td>
                                    <td>@(item.DefRatio.ToString("P"))</td>
                                    <td>@startDate</td>
                                    <td>@EndDate</td>
                                    <td>@item.TotWorkTime.ToString(@"hh\:mm\:ss")</td>
                                    <td>@item.ProductPerHour.ToString("0.00")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- 페이지 nav -->
            <nav aria-label="Page navigation example">
                <ul class="pagination d-flex justify-content-center">
                    @Html.PageLinks((PagingInfo)ViewBag.Page, (p) => Url.Action("TotProd", new { fromDate = ViewBag.FromDate, toDate = ViewBag.ToDate, wcCode = ViewBag.WcCode, itemCode = ViewBag.ItemCode, page = p }))
                </ul>
            </nav>
            <!-- /페이지 nav -->
            <!-- STACKED BAR CHART -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">작업일자별 작업지시 실적</h3>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="stackedBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

@{
    string name = ViewData["Name"].ToString();
    string fairSum = ViewData["fairSum"].ToString();
    string defSum = ViewData["defSum"].ToString();
    string from = ViewBag.FromDate;
    string to = ViewBag.ToDate;
}

@section Scripts{
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- InputMask -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/moment/moment-with-locales.min.js"></script>
    <script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <!-- date-range-picker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>

    <script>

        //Date range picker
        $('#dateRangeSelect').daterangepicker({
            locale: {
                format: 'YYYY-MM-DD',
                applyLabel: '입력',
                cancelLabel: '취소',
                locale: moment.locale('ko')
            },
            startDate: '@from',
            endDate: '@to',
            showDropdowns: true,
            showWeekNumbers: true
        });

        $('#dateRangeSelect').on('apply.daterangepicker', function (ev, picker) {
            document.getElementById("fDate").value = picker.startDate.format('YYYY-MM-DD');
            document.getElementById("tDate").value = picker.endDate.format('YYYY-MM-DD');
        });

        $(function () {

            var names = "@name"
            var namearr = names.split(',')

            var areaChartData = {
                labels: namearr,
                datasets: [
                    {
                        label: '양품수량',
                        backgroundColor: '#00ff00',
                        borderColor: '00ff00',
                        pointRadius: false,
                        pointColor: '#00ff00',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: '#00ff00',
                        data: @fairSum
                    },
                    {
                        label: '불량수량',
                        backgroundColor: '#ff0000',
                        borderColor: '#ff0000',
                        pointRadius: false,
                        pointColor: '#ff0000',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: @defSum
                    },
                ]
            }
            //---------------------
            //- STACKED BAR CHART -
            //---------------------
            var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
            var barChartData = $.extend(true, {}, areaChartData)
            var temp0 = areaChartData.datasets[0]
            var temp1 = areaChartData.datasets[1]
            barChartData.datasets[0] = temp0
            barChartData.datasets[1] = temp1
            var stackedBarChartData = $.extend(true, {}, barChartData)

            var stackedBarChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }

            new Chart(stackedBarChartCanvas, {
                type: 'bar',
                data: stackedBarChartData,
                options: stackedBarChartOptions
            })
        })

    </script>
}